/* My main css */

.my-height{
    height: 700px;
}
.my-image{
    width: 100%;
}
.my-button{
    width: 40%;
    font-size: 1.5rem;
}
.save-box{
    /* width: 100%; */

}
/* Error masssege  handling css */
.notify {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    background: #222436;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
    display: none;
}

.notify-section{
    width: 54%;
    margin: 0 auto;
    position: absolute;
    top: 35px;
    right: 7px;
}
.income-container{
    position: relative;
}
/* medea quary for responsve */
@media screen and (max-width: 609px) {
   
    .notify-section {
        right: 7px;
        width: 78%;
        position: absolute;
        top: 0;
    }
    .notify {
        color: rgb(0, 0, 0);
        text-align: center;
        margin: 0 auto;
        background: #6d6b6ba6;
        margin-top: 5px;
        border-radius: 15px;
        padding: 5px 20px;
        display: none;
    }
 
    .my-button{
        width: 100%;
        font-size: 1.5rem;
    }
}